/* seletor tag, onde selecionamos o elemento prlo seu nome dentro do html */
h1 {
    /* O RGB é um model de seres baseado na combinação dos seguintes cores: 

    R : Red (vermelho)
    G : Green (verde)   
    B : Blue (azul)

    Usamos esse modelo, pos ele é usado para representar cores em telas.
    Exemplo: Monitores, Televisores, Celulares e navegadores web.
    
    */

    color: rgb(117, 16, 212); 
    text-align: center;
}

/* Usamos o ponto (.) para identificar uma classe(class) */
.paragrafo-section {
    color: yellow;
}

p {
    color: rgb(166, 166, 231);
    text-align: justify;
}

body {
    background-color:rgba(145, 194, 235, 0.473);
}

/* usamos #(hashtag) para identificar o id - identifier(identificador)*/
#paragrafo-footer {
    text-align: center;
    color: rgb(27, 185, 48);
}

section {
    background-color: rgb(46, 133, 184);
}

/* Seletor Descendente - Onde selecionamos todos os elementos que são descendentes do primeiro, ou seja, elementos filhos. */
section h2 {
    color: beige;
    background-color: blueviolet;
}

body {
    background-color: darkblue;
    font-family: sans-serif;
}

header {
    background-color: yellow;
}

header h1 {
    background-color: lime;
    width: 200px;
    /* Para deixar o texto minusculo */
    text-transform: lowercase;

    /* Para deixar o texto maiusculo */
    text-transform: uppercase;

    /* Para deixar o texto com a primeira letra maiuscula */
    text-transform: capitalize;
}

main {
    background-color:violet;
}

main section {
    text-align: center;
}

main section p {
    text-align: center;
}

section h2 {
    width: 400px;

    /*height: 100px;*/

    /*padding-top: 20px;*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    /*padding-bottom: 20px;*/

    /* shorthand - atalho */

    /* aplica em todas as diferenças (top, left, right, bottom) */
    /*padding: 20px;*/

    /* top/botton | left/right */
    padding: 20px 10px;

    /* espessura/ tipo de borda/ cor da borda */
    border: 3px solid black;

    margin-top: 20px;
    margin-left: 40px;
}
